body {
  font-family: Verdana;
  background-color: #f4f5f9;
}
.folderIcon {
  color: #e0c561;
}
.redtext {
  color: #90230a;
}
hr {
  border-color: #de835b;
}
.inlinediv a {
  color: #90230a;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
}
.cl-effect a::after {
  background: #f0e1ba;
}
