@{
    ViewData["Title"] = "About";
}

<div class="row">
    <div class="col-md-offset-2 col-md-8 col-md-offset-2">
        <h2 class="text-center">Implement directory/file browsing</h2>
        <h3 class="text-center">using ASP.NET Web.APi + AngularJs</h3>

        <ol>
            <li>
                I need to have an ability to browse a directories and
                see files from all hard discs on a computer (where app is hosted)
            </li>
            <li>
                I need to have an ability to see a count of files in current directory and
                subdirectories that are:
                <ul>
                    <li><= 10mb</li>
                    <li>10mb AND <= 50mb</li>
                    <li>>= 100mb</li>
                </ul>
            </li>
        </ol>
    </div>
</div>
